{:storage {:mongohq-url "mongodb://localhost"
           :mongo-db-name "cadence"
           :mongo_username "cadence"
           :mongo_password "secret"}
 :twitter {:twitter-oauth-token ""
           :twitter-oauth-secret-token ""}}
