@import url("http://fonts.googleapis.com/css?family=Dosis:400,500|Comfortaa:400,700");
body{font-family:'Dosis',Droid Sans,Helvetica,Arial,sans-serif;font-size:16px;font-weight:500;line-height:1.3em;background-color:#f2ecf7;}
table tbody td.docs{padding-right:13px;padding-left:27px;}
table tbody td.codes{background-color:#f2ecf7;}
h1.project-name{font-size:32px;}
h1,h2,h3,h4,h5,h6{font-family:'Comfortaa',Platino,FreeSerif,"Times New Roman",Times,serif;line-height:1.2em;}
